@import url("https://fonts.googleapis.com/css?family=Lato|Poller+One&display=swap");

@font-face {
  font-family: "SF Distant Galaxy";
  src: url("SFDistantGalaxy.ttf") format("truetype");
}
/* phone */
body {
  background-color: #b8ad16;
}



h1 {
  font-family: "SF Distant Galaxy";
}



/* computer */

@media screen and (min-width: 400px) {
  body {
    background-color: goldenrod;
    div{
      display:flex;
      flex-direction:column;
      align-items: flex-start;
    }
  }
}

 @media screen and (min-width: 900px) {
  body {
    background-color: goldenrod;
  
    div {
      display:flex;
       flex-direction: row;
      }
  }
}
 


